body {
  background: #045a4c;
  color: #045a4c;
}

.changed-text {
  font-size: 32px;
  color: #fff;
}

.wrapper {
  padding: 20px;
  margin: 30px auto;
  width: 400px;
  height: 600px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.box {
  padding: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid #000;
  height: auto;
}

form {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.add-input {
  width: 100%;
  border: none;
  outline: none;
  color: #045a4c;
  border-bottom: 2px solid #045a4c;
}

.add-btn {
  color: #045a4c;
  font-weight: 600;
  background: none;
  border: 1px solid #045a4c;
  border-radius: 5px;
}

.add-input::placeholder {
  color: #045a4c;
}

.wrap {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: scroll;
}

.item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #045a4c;
}

.item-title {
  font-size: 18px;
  font-weight: 600;
}

.delete-button {
  margin-bottom: 5px;
  font-weight: 600;
  color: #5a0404;
  background: none;
  border: 1px solid #5a0404;
  border-radius: 5px;
}

.delete-button:hover {
  color: #fff;
  background: #d10000;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #86c7b1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #50af8f;
}
::-webkit-scrollbar-thumb:active {
  background: #50af8f;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
